@charset "utf-8";
/* public */

body,ul,p,h1,h2,h3,h4,dl,dd,form,input{padding:0;margin:0;font-family:"微软雅黑";"黑体";}
li{list-style:none;}
img{border:none;vertical-align:top;}
a{text-decoration:none; outline:none; cursor:pointer;}
a:hover{text-decoration:none; outline:none;}
a:focus {outline:none;-moz-outline:none;}
input,textarea,select,lable{ outline:none; border:none;}
em{font-style:normal;}
table { border-collapse: collapse; }
.clear{zoom:1;}
.clear:after{content:"";display:block;clear:both;}
.pull-left{float:left;}
.pull-right{float:right;}

.clean{margin: 0; padding: 0;}

body{width:100%;}


.container .row {margin-left:0;margin-right:0;}

/* index */
.header{width: 100%; height: 210px;background:url(../img/product_bg.png) no-repeat; position: relative; background-size:100% 100%;}
.img-slide{width:100%;padding:0;position: absolute;top:0;}
.navbar{width: 100%;border:none;position:fixed;top:0;right:0;border-radius:0;}
.navbar-default { font-size:14px;margin-bottom:0px;z-index:99999;}
.header_img{width: 40px;height: 40px;float: left;margin-right: 10px;}
.navbar-header {float:left; height: 60px;padding-top:6px;}
/*  导航小屏时  的左侧下拉  */
.header_img,.site_navside{display: none;}
@media (max-width: 991px){
.navbar-default .navbar-nav>li{display: none;}
.navbar-toggle{display: none;}
.header_img,.site_navside{display: block;margin-top: 10px;}
.header_img{width: 50px;height:45px ;}
.header_img img{margin-top: 8px;margin-left: 10px;}

.site_navside{ float: right; position: absolute;}
.site_navside .navside_img{ margin-right: 10px;}
.navside{ width:100px; height: 255px; background:#000;background-color: rgba(0,0,0,0.8); position: absolute; top:51px;left:-15px;z-index: 1000; display: none;  text-align: center;}
.navside .active{color:#fff;background:#4EABFB;}
.navside ul{float: left;}
.navside li{float: left; width: 100%;height:51px; line-height: 51px;}
.navside li a { width:100%;  margin-bottom: 5px; float: left;color:#fff ;}
.navside li a:hover{ color: #fff; width: 100%;height: 51px;background:#4EABFB;}
}
@media (max-width: 760px){
	/*.header_img img:hover {width: 26px; height: 23px;background: url(img/hover.png) no-repeat;display: block;}*/
.navbar-header{margin-bottom: 10px;}
.site_navside{margin-top: 12px;}	
.header_img{margin-top:5%;}
.header_img img{margin-top: 6px;}
.navside{width:100px; height:255px; position: absolute;top:-8px;left:-30px; z-index: 1000;}	
.navside .active{color:#fff;background:#4EABFB;}
.navside li{float: left; width: 100%;height:51px; line-height:51px;}
.navside li a:hover{ color: #fff; width: 100%;height:51px;background:#4EABFB;}
}

.navbar-default #list {margin-left: 50px;margin-bottom:-5px;}
.navbar-default #list a{color:#fff; margin-right: 20px;line-height: 20px;}
.navbar-default #list a:hover{color:#fff;border-bottom:1px solid #4EABFB;}
.navbar-default #list .active{color:#fff;border-bottom:1px solid #4EABFB;}

.navside li{float: left; width: 100%;}
.navside li a:hover{ color: #fff; border-bottom:1px solid #4EABFB;}
.navbar-nav > li > a {padding-bottom: 20px;}


.nav-right{position:absolute;right:0;top:0;z-index:999999;width:30%;margin: 10px 0;}
.navbar-brand{padding: 9px 15px;}

.qq img,.weixin img{border-radius:50%;}
.pull-right a{display:inline-block;width:40px;height:40px;margin-right:10px;display: block;float: left;}
.nav-qq{width:30px;height:30px;background:url('../img/qq_head.png') no-repeat;display: block;padding-left:0px;margin-right: 10px;}
.nav-wx{width:30px;height:30px;background:url('../img/weixin_head.png') no-repeat;display: block;position: relative;}
.nav-qq:hover{background:url('../img/qq_hover.png') no-repeat;}
.img_wx{width: 100px;height: 100px;display: block;position: absolute;top:55px;left: -20px;display: none;}
.nav-wx:hover{background:url('../img/weixin_hover.png') no-repeat;}
.nav-wx:hover .img_wx{display: block;}


.navbar-default .user-state{color:#777;margin-right:16px;}
.navbar-default .user-state a{display:inline-block;width:60px;height:40px;line-height:40px;text-align:center;border: none;}
.navbar-default .user-state .login{border: 1px solid #61bd99;background:#61bd99;color:#fff;text-align:center;margin-right:10px;border-radius:2px;font-size: 13px;}
.navbar-default .user-state .login:hover{background:#4CAA85;color: #fff;border: none;}

.navbar-default .user-state .regist{border: 1px solid #4B4B4B;text-align:center;border-radius:2px;color:#777777;font-size:13px;}
@media (max-width: 767px) { 
	.navbar-default .user-state .regist{margin-top: 5px;}
}
.navbar-default .user-state .regist:hover{background:#4B4B4B;color: #fff;text-decoration: none;}

.carousel-indicators li{background:#fff;opacity: 0.27;border: none;}
.carousel-indicators .active{background-color:white;opacity: 0.7;}
#carousel-example-generic .carousel-inner .item img{min-height: 290px;}
.carousel-control.right , .carousel-control.left {background-image:none;display:block;}

.carousel-inner>.item>a>img, .carousel-inner>.item>img{ width: 100%;}



.item1{background:rgba(0,0,0,0.3) url(img/headline.png) no-repeat center center;width:100%;}
.navbar-brand{padding:9px 0;}
.navbar-collapse.collapse { border-bottom: 1px solid #636363; }

.navbar-default {background-color:rgba(0,0,0,0);}
.navbar-default{border-color:rgba(0,0,0,0.6);}
.navbar>.container .navbar-brand{margin-left:0px;}
/*  导航隐藏的部分 */
.site_hide{background-color:rgba(0,0,0,0.8);}

@media (max-width: 991px)and (min-width:768px){
.navbar-default #list {margin-left: 50px;}
.navbar-toggle {padding: 5px 6px; display: block; margin-top:12px; }
.navbar-default #list {margin-bottom:0px;}
.navbar-nav>li { float: none;}
.navbar>.container .navbar-brand{margin-left:0px;}

.nav-right{width:60%;display: block;}
.pull-right{display: block;margin-left:0px;}

.user-state{margin-top: 5px;}
.navbar-default .user-state .login{border-radius:2px;}
.navbar-default .user-state .regist{border-radius:2px;}		
}
@media (max-width: 767px) {
	.navbar-default #list {margin-left: 50px;margin-top:0px;}
	.navbar-nav{margin-top: 0;border: none;}
	.navbar-brand{padding: 11px 0px;}
	.navbar-nav>li { float: none;}
	.navbar-toggle { display: block; margin-top:12px;display: block; }
	.nav-right{width:40%;margin:10px 0;display: block;}
.navbar-default .user-state .login {  margin-top: 5px;}
.collapse { display: block;}
	
	
.navbar-nav{display: block;border-bottom: 1px solid #636363;border-top: none;margin-top: 0;}
.navbar-default .user-state a{width:50px;height:30px;line-height:30px;text-align:center;}	
.navbar-brand img{width:90px;}	
.navbar-toggle{ padding: 5px 6px;}
.navbar-default{border-color:#000;}
.navbar-default .user-state .login{margin-right:5px;}
.pull-right{display: block;}
.navbar-default .navbar-collapse{border-color:transparent;}
}
@media (max-width:575px) {
	.nav-right{width:50%;}
}

/*  关于我们  */
.dingwei{ border-bottom: 1px solid #D9D9D9; background: #fff; z-index: 1000;}
.about_us{position: absolute; bottom: 30px; width: 100%; text-align: center;}
.about_us h1{font-size: 44px; color: white;height: 59px; width:100%;}
.about_us p{font-size: 12px; color: #8C8888; width: 100%;}
@media (max-width: 991px){ 
.about_us p{ width:90%;}
	}
/*产品介绍*/
.introduce{position: absolute; bottom: 30px; width: 100%; text-align: center;}
.introduce h1{font-size: 44px; color: white;height: 59px; width:100%;}
.introduce p{font-size: 12px; color: #8C8888; width: 100%;}

.product_list{height: 58px; margin: 0 auto;}
.product_list a{float: left;  height: 85px; line-height: 85px; text-align: left; position: relative; margin-left: 20px;color: #ADADAD;  font-size: 14px; margin-right:40px;text-decoration: none;}

.product_list  a:hover i{background:url(../img/pinpai_03.png) no-repeat;width: 40px;height: 40px;}

.product_list:hover a i{background:url(../img/pinpai_03.png) no-repeat ;} 
.product_list a:hover{border-bottom:1px solid #319DAF ;color: #000; }
.product_list a p{margin-left: 30px;}

.product_list #pl{ width: 25px; height: 25px;background:url(../img/pinpai_02.png); position: absolute; left: 0px; top: 30px;}
.product_list .this #pl{ width: 25px; height: 25px;background:url(../img/pinpai_03.png); position: absolute; left: 0px; top: 30px;}
.product_list #p2{width: 25px; height: 25px;background:url(../img/shangpin_02.png);position: absolute; left: 0px; top: 30px; }
.product_list .this #p2{ width: 25px; height: 25px;background:url(../img/shangpin_03.png); position: absolute; left: 0px; top: 30px;}
.product_list #p3{ width: 25px; height: 25px;background:url(../img/taobao_02.png); position: absolute; left: 0px; top: 30px;}
.product_list .this #p3{ width: 25px; height: 25px;background:url(../img/taobao_03.png); position: absolute; left: 0px; top: 30px;}
.product_list #p4{ width: 25px; height: 25px;background:url(../img/shuju02.png); position: absolute; left: 0px; top: 30px; }
.product_list .this #p4{ width: 25px; height: 25px;background:url(../img/shuju03.png); position: absolute; left: 0px; top: 30px;}
.product_list a:hover #pl{background:url(../img/pinpai_03.png);}
.product_list a:hover #p2{background:url(../img/shangpin_03.png);}
.product_list a:hover #p3{background:url(../img/taobao_03.png);}
.product_list a:hover #p4{background:url(../img/shuju03.png);}

.product_list .this{color:#000; border-bottom:1px solid #319DAF ;}

/*淘宝*/
.taobao{ margin: 0 auto;}
.taobao .t_top{ height: 90px; width: 100%; border-bottom: 1px solid #D9D9D9; }
.taobao .t_top .t_top_l{ height: 48px; line-height:55px; margin-top: 22px; margin-left: 19px; float: left; position: relative;}
.taobao .t_top .t_top_l a{color: #000; font-size: 22px; margin-left:0px;}
.taobao .t_top .t_top_l #taobao{width:52px; height:52px; background:url(../img/product-list.png) -104px -104px;display: block; position: absolute; left:0; top:0;}
 #pinpai{width:48px; height:48px; background:url(../img/pinpai_01.png) 48px 0px;display: block; position: absolute; left:0; top:0;}
 #shangpin{width:48px; height:48px; background:url(../img/shangpin_01.png) 48px 0px;display: block; position: absolute; left:0; top:0;}
#shuju{width:48px; height:48px; background:url(../img/shuju01.png) 0px 0px;display: block; position: absolute; left:0; top:0;}
.taobao .t_top .t_top_r{width: 118px; height: 40px; line-height: 40px; border-radius:3px; background: #49B4A3; text-align: center; float: right; margin-top: 30px;margin-right: 10px;}
.taobao .t_top .t_top_r a{ color: white; font-size: 13px;} 
.taobao .t_top .t_top_r:hover{background: #39a796;}

.jhsoo_list{ border-bottom: 1px solid #D9D9D9;}
.jhsoo_list i{display: block; width: 72px; height: 70px; margin: 60px auto 0;}
.jhsoo_list img{ width: 72px; height: 70px;}
.jhsoo_list .text{ height: 50px;margin-top: 28.6px; margin-bottom: 50.7px;}
.jhsoo_list .text p{height: 25px; line-height: 25px; color: #000; font-size: 18px;white-space:nowrap;text-align: center;}
.jhsoo_list .text span{font-size:12px;color:#828282;display:block;padding-top:7.6px;text-align: center;}

@media (max-width:767px) {
.jhsoo_list i{width: 30%;float:left;}
.jhsoo_list .text{width:50%;float: right;margin-top:20px;}	
.jhsoo_list .text p{text-align: left;}
.jhsoo_list .text span{text-align: left;}

}

/*精准搜索店铺123*/
.t_b{ float: left; margin-top: 10px; height: auto;padding-bottom: 50px;}
.t_b li{margin-top: 40px;}
.t_b i{display: block; width: 72px; height: 72px; background: #C8DDF1; float: left; margin-right:10px; border-radius:50%;}
.t_b img{width: 72px; height: 72px;}
.t_b .text{ margin-top: 5px;}
.t_b .text p{height: 25px; line-height: 25px; color:#000; font-size: 16px;white-space:nowrap;}
.t_b .text span{font-size:12px;color:#828282;display:block; width: 100%;}

/*产品价格 */
.p_p {padding-bottom:55px; width: 100%;background:url(../img/pd_bg.png);background-size:cover;  background-size:100% 100%;}
.product_price ul{width: 400px; margin-left: 100px; margin-top:30px;}
.product_price li{width:100px; float: left; margin-left: 10px;}
.product_price a{width:100%;background:#fff;text-align:center;border:1px solid #E1E1E1;color:#777;height:40px;line-height:40px;display:block;float: left;border-radius:3px;text-decoration: none; }
.product_price a:hover{background:#49B4A3;color:#fff;text-decoration: none;border: none;}
.product_price a:active{text-decoration: none;}
.product_price .this{background:#49B4A3;color:#fff;border:none;}
/*具体产品*/
.product_det{ margin-top: 20px;}
.product_det #p_content0 {text-align: center;margin: 10 auto;}
.product_det #p_content1 {text-align: center;margin: 10 auto;}
.product_det #p_content2 {text-align: center;margin: 10 auto;}
.product_det #p_contentt0 {text-align: center;margin: 10 auto;}
.product_det #p_contentt1 {text-align: center;margin: 10 auto;}
.product_det #p_contentt2 {text-align: center;margin: 10 auto;}
.product_det #p_contenttt0 {text-align: center;margin: 10 auto;}
.product_det #p_contenttt1 {text-align: center;margin: 10 auto;}
.product_det #p_contenttt2 {text-align: center;margin: 10 auto;}
.product_det  .pp{width: 100%; text-align: center;}
.product_det  p{color: #000000; font-size: 13px; margin-bottom: 12px;}
.product_det  .span{ color: #49B4A3; font-size: 18px; font-weight: bold;}
.product_det  .plan{width: 20%;margin:0; position: relative; padding: 0 5px;}
.plan #check{ width:13px; height:17px; float: left;  position: absolute; left:7%; top:15%;
background: url(../img/mm.png) no-repeat; display: block;}
.product_det  .plan .p_content_0:hover{border: 1px solid #49B4A3;}
.product_det  .p_content_0{width:100%; height:400px; border: 1px solid #EBEBEB;}

.product_det .p_content_0:hover{border: 1px solid #49B4A3;}
.product_det  .p_content_0 .level{color: #ADADAD; font-size: 12px; height: 16px; margin-top: 5px; margin-bottom:16px ;}
.product_det  .p_content_0 .price{color: #49B4A3; font-size: 46px; margin-top: 16px;}
.product_det  .p_content_0 .beforeprice{color: #ADADAD; font-size: 12px; margin-bottom: 24px;}
.product_det  .p_content_0 .store{font-size: 14px; color: #000000; margin-bottom: 33px;}
.product_det  .p_content_0  p img{margin-top: 3px;}
.product_det  .p_content_0 .buy{ width: 110px; height: 40px; line-height: 40px; border: 1px solid #E1E1E1; margin-left: 30px; border-radius:2px; margin: 0 auto;}
.product_det  .p_content_0:hover .buy{background: #49B4A3; color: white;border: none;}

/*幻灯*/
.product_det .header_banner{ width:100%; height: 480px; float: left; z-index: 1; overflow: hidden; position: relative;margin-left:15px;}
.product_det  .header_banner ul{  position: absolute; width: 100%;}
.product_det .header_banner li{ float: left; width:20%; height: 427px;  overflow: hidden; position: relative; }
.product_det  .header_banner .btnBg{position: absolute; width: 100%; height: 20px; left: 0; bottom: 0px; background: #000; display: none;}
.product_det .header_banner .btn{position: absolute;height: 23px; bottom: 10px; left:30%;}
.product_det  .header_banner .btn span{display: inline-block; _display:inline; _zoom:1; width: 15px; height: 14px; line-height: 240px; text-align: center; _font-size:0; margin-right:5px; cursor: pointer; background: #444; color: #fff; border-radius:50%;}
.product_det  .header_banner .btn span.on{background:#49B4A3;}
.header_banner .preNext{ width: 45px; height: 100px; position: absolute; top:160px; background:url(../img/sprite.png) no-repeat 0 0; cursor: pointer;}
.header_banner .pre{left:10px;}
.header_banner .next{right:10px; background-position: right top;}
.header_banner img{width: 100%; height: 460px;}

/*幻灯1*/
.product_det .header_banner1{ width:100%; height: 480px; float: left; z-index: 1; overflow: hidden; position: relative;margin-left:15px;}
.product_det  .header_banner1 ul{  position: absolute; width: 100%;}
.product_det .header_banner1 li{ float: left; width:20%; height: 427px;  overflow: hidden; position: relative; }
.product_det  .header_banner1 .btnBg{position: absolute; width: 100%; height: 20px; left: 0; bottom: 0px; background: #000; display: none;}
.product_det .header_banner1 .btn{position: absolute;height: 23px; bottom: 10px; left:42%;}
.product_det  .header_banner1 .btn span{display: inline-block; _display:inline; _zoom:1; width: 15px; height: 14px; line-height: 240px; text-align: center; _font-size:0; margin-right:5px; cursor: pointer; background: #444; color: #fff; border-radius:50%;}
.product_det  .header_banner1 .btn span.on{background:#49B4A3;}
.header_banner1 .preNext{ width: 45px; height: 100px; position: absolute; top:160px; background:url(../img/sprite.png) no-repeat 0 0; cursor: pointer;}
.header_banner1 .pre{left:10px;}
.header_banner1 .next{right:10px; background-position: right top;}
.header_banner1 img{width: 100%; height: 460px;}

/*幻灯2*/
.product_det .header_banner2{ width:100%; height: 480px; float: left; z-index: 1; overflow: hidden; position: relative;margin-left:15px;}
.product_det  .header_banner2 ul{  position: absolute;}
.product_det .header_banner2 li{ float: left; width:20%; height: 427px;  overflow: hidden; position: relative; }
.product_det  .header_banner2 .btnBg{position: absolute; width: 100%; height: 20px; left: 0; bottom: 0px; background: #000; display: none;}
.product_det .header_banner2 .btn{position: absolute;height: 23px; bottom: 10px; left:30%;}
.product_det  .header_banner2 .btn span{display: inline-block; _display:inline; _zoom:1; width: 15px; height: 14px; line-height: 240px; text-align: center; _font-size:0; margin-right:5px; cursor: pointer; background: #444; color: #fff; border-radius:50%;}
.product_det  .header_banner2 .btn span.on{background:#49B4A3;}
.header_banner2 .preNext{ width: 45px; height: 100px; position: absolute; top:160px; background:url(../img/sprite.png) no-repeat 0 0; cursor: pointer;}
.header_banner2 .pre{left:10px;}
.header_banner2 .next{right:10px; background-position: right top;}
.header_banner2 img{width: 100%; height: 460px;}

.header_banner .introduce .p_intro{display: none;}.swiper-container{display: none;}
.header_banner1 .introduce .p_intro{display: none;}.swiper-container{display: none;}
.header_banner2 .introduce .p_intro{display: none;}.swiper-container{display: none;}

  .swiper-container {width: 100%;height: 100%;}
    .swiper-slide {text-align: center;font-size: 18px;
/* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

@media (max-width: 1199px){

.introduce .p_intro{display: none;}
.product_price{width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.product_price ul{position:relative;width: 350px; }
.product_price li{width:85px;margin-left:10px;height:40px;}
.product_price li a{font-size:12px;position:absolute;z-index:10;width:85px;}
.product_det #p_content1 .p_content_0 .buy{width: 95px;margin: 0 auto;}
}
@media (min-width:1000px){
.budingwei{background: #fff;position: fixed;top:60px;left:45%;margin-left: -450px;z-index: 100;}
}
@media  (max-width: 999px)and (min-width: 990px){
.budingwei{margin-left: -380px;}
}

@media (max-width: 991px){

.introduce .p_intro{display: none;}
.t_b .text span{font-size:12px;}
.product_det #p_content1 .p_content_0 .buy{width: 100px;margin: 0 auto;}
}

@media (max-width: 991px)and (min-width: 768px){
.product_det #p_content1 .p_content_0 .buy{width: 75%;margin: 0 auto;}

.introduce .p_intro{display: none;}
.navbar-default .user-state a{width:50px;height:30px;line-height:30px;text-align:center;}	
.navbar-brand img{width:90px;}	
.navbar-toggle{ padding: 5px 6px;}
.navbar-default .user-state .login{margin-right:5px;}
.product_det .p_content_0 .price{font-size: 32px;}
.product_det #p_content1 .p_content_0 .buy{width: 75px; margin-left: 18px;margin: 0 auto;}
.p_content_0{ margin-bottom: 10px;}
}

@media (max-width: 767px)and (min-width: 746px){
.p_A{display: none;}
.swiper-container{display: block;}
.product_price ul{width: 350px; margin-left:70px;}
.product_det .header_banner1 .btn{left: 42%;}
.introduce .p_intro{display: none;}
.product_list a{width: 30%!important;}
.navbar-default .user-state a{width:50px;height:30px;line-height:30px;text-align:center;}	
.navbar-brand img{width:90px;}	
.navbar-toggle{ padding: 5px 6px;}
.navbar-default .user-state .login{margin-right:5px;}

.p_content_0{ margin-bottom: 10px;}
.t_b .text span{font-size: 12px;}
.t_b .text p{font-size: 16px;}
.product_det #p_content1 .p_content_0 .buy{width: 90%;margin: 0 auto;}
}
@media (max-width: 746px) and (min-width:621px){

	.swiper-container{display: block;}
.p_A{display: none;}
.product_price ul{position:relative;width:320px; margin-left:0px;}
.introduce .p_intro{display: none;}
.product_list a{width: 30%!important;}
.navbar-default .user-state a{width:50px;height:30px;line-height:30px;text-align:center;}	
.navbar-brand img{width:90px;}	
.navbar-toggle{ padding: 5px 6px;}
.navbar-default .user-state .login{margin-right:5px;}

.p_content_0{ margin-bottom: 10px;}
.t_b .text span{font-size: 12px;}
.t_b .text p{font-size: 16px;}
.product_det #p_content1 .p_content_0 .buy{width: 90%;margin: 0 auto;}
.jhsoo_list img{margin-left: 60%;}
.jhsoo_list .text{margin-top: 30px;}
}

@media (max-width: 620px){
.p_A{display: none;}	
.swiper-container{display: block;}
.introduce p{display: none;}
.jhsoo_list img{margin-left: 60%;}
.jhsoo_list .text{margin-top: 30px;}
.introduce .p_intro{display: block;}
.navbar-default .user-state a{width:50px;height:30px;line-height:30px;text-align:center;}	
.navbar-brand img{width:90px;}	
.navbar-toggle{ padding: 5px 6px;}
.navbar-default .user-state .login{margin-right:5px;}

.p_content_0{ margin-bottom: 10px;}
.product_det #p_content1 .p_content_0 .buy{width: 85%;margin: 0 auto;}
.product_list a{width: 34%;}

}

@media (max-width: 585px){
#taobao{display: none;}
.taobao .t_top .t_top_l a{margin-left:1px;}
.jhsoo_list img{margin-left: 60%;}
.jhsoo_list .text{margin-top: 30px;}
.jhsoo_list .text p{font-size: 16px;}

}

@media (max-width: 469px){
.p_A{display: none;}
.swiper-container{display: block;}
#taobao{display: none;}
.taobao .t_top .t_top_l{margin-left: 0px;}
.taobao .t_top .t_top_l a{font-size:18px;margin-left:10px;}
.jhsoo_list img{margin-left: 60%;}
.jhsoo_list .text{margin-top: 50px;}
.taobao .t_top .t_top_r {width: 80px;margin-right: -10px;}
.product_price li {width:55px;}
.product_price li a{width:45px;}
.t_b .text span{font-size: 12px;}
.t_b .text p{font-size: 16px;}
.p_content_0{ margin-bottom: 10px;}
.product_det #p_content1 .p_content_0 .buy{width: 80%;margin: 0 auto;}
.product_det .header_banner1 .btn{left: 30%;}
.product_list a p{width: 100%;}
.product_list a{width:8%; margin-right:30px;margin-left: 10px; height:75px; margin-top:-10px;}
.product_list .this {text-decoration: none;}
.product_list a em{display: none;}
.jhsoo_list .text{width:50%;float: right;margin-top:10px;}	
.jhsoo_list .text p{font-size: 18px;float:left;}
.jhsoo_list .text span{font-size: 16px;}
.jhsoo_list .text{margin-top:23px;}
.jhsoo_list .text p{font-size: 16px;}
.jhsoo_list .text span{font-size: 12px;float: left;}
.product_price ul{position:relative;width:250px; margin-left: 50px;}
}

@media (max-width:392px){
	.jhsoo_list img{width: 60px; height: 60px; margin-left: 10px;}
.jhsoo_list .text p{font-size: 14px;}
.jhsoo_list .text span{font-size: 12px;}
}

@media (max-width:320px){
.jhsoo_list img{width: 60px; height: 60px; margin-left: 10px;}
.jhsoo_list .text p{font-size: 16px;}
.jhsoo_list .text span{font-size: 12px;}
}
/* 切换第四块 的文字部分  */
.site_call{width: 100%;height:440px;float: left;background:url(../img/pd_bg.png);background-size:cover;  background-size:100% 100%; text-align: center;}
.site_call p{width: 350px;margin: 60px auto;font-size: 26px;}
.site_call li{width: 500px;margin: 20px auto;}
.site_call .qq4{width: 40px;height: 40px;background: url(../img/qq_dauful.png) no-repeat;display: block;float: left;margin-right: 10px; margin-left:75px;}
.site_call .qq4:hover{background: url(../img/qq_hover.png) no-repeat;display: block;}
.site_call .wx4{width: 40px;height:40px;background: url(../img/weixin_dauful.png) no-repeat;display: block;float: left;margin-right:10px;}
.site_call .wx4:hover{background: url(../img/weixin_hover.png) no-repeat;display: block;}
.site_call .call4{height: 40px;line-height: 40px;font-size: 36px;color: #000; float:left;}
@media (max-width:620px){
.site_call p{font-size: 20px;}	
.site_call .call4{font-size:24px;}
.site_call li{width:300px;}
.site_call .qq4{margin-left:20px;}
}
@media (max-width:350px){
.site_call p{width:300px;}
.site_call li{width:200px;}
}
/*footer*/
.site_img{background: #000;width: 100%;float:left; overflow:hidden;}
.footer-list{border-bottom:1px solid #2D2D2D;padding:20px 0;}
.footer-list li{width:22%; height:90px; margin-right:2.2%;float:left;}
.footer-list li img{width: 100%;height: 100%;}
.footer-list-1{margin-left:3%;}
.banner{display: none;}
.blank{height: 30px;float: left;width: 100%;z-index: -222;}
/*  footer */
.footer{background: #000;width: 100%;float: left;}
.footer-info{height:70px;line-height:70px;font-size:12px;}

.footer-info p{color:#666565;float:left;}
.footer-info p span{padding-left:15px;}


.footer-info a{color:#878787;display:inline-block;}
.footer-info a:hover{text-decoration:underline;color: white;}
.footer-info>div{float:right;}
.footer-info i{color:#878787 ;}


@media (min-width: 992px)and (max-width: 1199px){
	.footer-info p{height:30px;line-height:30px;}
	.footer-info p span{padding-left:0px;display:block;}	
}
@media (min-width: 766px)and (max-width: 991px){

	.footer-info p{height:30px;line-height:30px;}
	.footer-info p span{padding-left:0px;display:block;}
	.footer-info a{margin-left:20px;}
	.footer-info>div{padding-right:0px;}
}


@media (max-width: 767px){
#content_us .about-us{width:180px;height:100%;left:46%;}
#content_us .about-us img{width:100px;height:100px;float:none;}
#content_us .about-us h2{font-size:20px;line-height:20px;}
#content_us .about-us ul{float:none;padding:0;font-size:12px;margin-top:12px;}
#content_us .concern-us{margin-top:10px;height:30px;line-height:30px;}
.concern-us i{ margin-left:0;text-decoration: none;}
.concern-us .icon2,.concern-us .icon3{margin-left:30px;} 

.banner{display: block;}

.footer-list{border-bottom:1px solid #2D2D2D;padding:20px 0;border:none;}
.footer-list li{width:44%; height:90px;}
.footer-list-1{margin-left:3%;}

.footer{height: 100px;background: #000;}
.footer-info{width: 320px;margin: 0px auto;line-height: 20px;}
.footer-info .news{width:100%;float: left;height: 40px;line-height: 40px;padding-left:28px;}
.footer-info .news a{height: 40px;line-height: 40px;}
.footer-info p{margin: 0 auto;padding: 1px;}
.footer-info p span{padding-left:80px;}

.site_img .container{padding-left: 1px;padding-right: 1px;}
}
/*  466下的轮播效果 */
@media (max-width: 766px){
	
.footer-list{display: none;}
@-moz-keyframes demo {
    0%{left:0;}
    25%{left:0;}
    26%{left:-100%;}
    50%{left:-100%;}
    51%{left:-200%;}
    75%{left:-200%;}
    76%{left:-300%;}
    100%{left:-300%;}
    }
    @-webkit-keyframes demo {
   0%{left:0;}
    25%{left:0;}
    26%{left:-100%;}
    50%{left:-100%;}
    51%{left:-200%;}
    75%{left:-200%;}
    76%{left:-300%;}
    100%{left:-300%;}
    }
.banner{width:100%;height:120px;margin: 0 auto;margin-top:20px;float: left;position: relative;}
.main{width:400%;height: 120px;float: left;position: absolute;animation: demo 6s infinite;}
.main li{ width:25%; height: 120px;float:left;}
.main li:nth-child(1){height: 120px;float: left;display: block;background-size:cover;-moz-background-size:cover;}

.main li img{width: 46%;height: 100%;padding-right: 1%;}
.main li img:first-child{margin-right:2%;margin-left: 3%;}

.main li:nth-child(2){height: 120px;float: left;background-size:cover;  }

.main li:nth-child(3){height: 120px;float: left;}
.main li:nth-child(4){height: 120px;float: left;}
/* 小脚*/
.go{width: 80px;height: 10px;position: absolute;bottom: -15px;left:42%;z-index:999;float: left;}
.btn{padding: 0px;width: 100%;margin: 0 auto;}
.btn li{height: 10px;width: 10px;float:left;list-style-type: none;margin-right:9px;
    border-radius: 5px;background:#fff;opacity: 0.57;  }
.btn #in{position:absolute;top:6px;left:0px;background:#fff;animation: box 6s infinite;}
@keyframes box{
   0%{left:0;}
    25%{left:0;}
    26%{left:25%;}
    50%{left:25%;}
    51%{left:50%;}
    75%{left:50%;}
    76%{left:75%;}
    100%{left:75%;}
     }
}
@media (max-width: 500px){
#content_us .about-us{width:180px;height:100%;left:40%;}
	
}


/*侧边栏*/
.toolbar-indicator{position: fixed; top: 150px; right: 15px; display: none;}
.toolbar-indicator li{text-align: right; color: #4C87C1;margin-top: 10px; height: 20px;line-height: 20px;}
.indicator-description{font-size: 16px;margin-right: 6px;display:none;}
.indicator-circle{font-size: 14px;color: #DEDEDE;}

.toolbar-contact{position: fixed; bottom: 50px; right: 15px;display:none;z-index:99999;}
.toolbar-contact li{margin-top:10px; height:40px;width: 40px;line-height:40px;}

.toolbar-contact a{display:inline-block;width:100%;height:100%;}
.contact-qq a{background:url('../img/qq_dauful.png');}
.contact-wx a{background:url('../img/weixin_dauful.png');}
.contact-fk a{background:url('../img/fankui_dauful.png');}
.back2top a{background:url('../img/gortoheadi_dauful.png');}

.contact-qq a:hover{background:url('../img/qq_hover.png');}
.contact-wx a:hover{background:url('../img/weixin_hover.png');}
.contact-fk a:hover{background:url('../img/fankui_hover.png');}
.back2top a:hover{background:url('../img/gortoheadi_hover.png');}

.toolbar-contact .back2top{margin-top:20px;height:40px;width:40px;}

